.botonconf {
  display: flex;
  justify-content: center;
  
  .btn {
    margin: 7px 7px;
    background: $color-boton;
    color: #FFFFFF;
    width: 180px;
    border-radius: 30px;
  }
}

.card .card-action {
  background: $color-primario;
}

.card .card-content p {
  text-align: center;
  
  @media (min-width: 57rem) {
    text-align: justify;
  }
}