
.sectionProjects {
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
}

.superiorProject {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-project {
        color: $color-titulos;
        margin-bottom: 1rem;
    }
    
    .responsive-img {
        height: 163px;
    }
}
