
// Colors
// $color-primario: #262525;
$color-primario: #091619;
$color-secundario: #35DD6D;
// $color-texto: #7B7B7B;
$color-texto: #999999;
$color-autofill: #7B7B7B;
$color-titulos: #FFFFFF;
// $color-boton: #085BA4; // azul oscuro
// $color-boton: #4985FE;
$color-boton: #4e75c3;
// $color-boton: #C72628; // rojo
