
// Colors
$color-primario: #262525;
// $color-texto: #7B7B7B;
$color-texto: #999999;
$color-titulos: #FFFFFF;
$color-boton: #085BA4;

$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


